/* Hero.module.css */
.heroImage {
    border-radius: 8px;
    object-fit: cover;
    width: 100%;
    animation: jumpEffect 3s infinite;
    /* height: 100%; */

  }
  
  @keyframes jumpEffect {
    0% {
      transform: translateY(0); /* Start position */
    }
    50% {
      transform: translateY(-30px); /* Move up */
    }
    100% {
      transform: translateY(0); /* Back to start position */
    }
  }


  .hero-container {
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .hero-title {
    font-weight: 700;
    margin-bottom: 16px;
    color: #3f3c3c;
    letter-spacing: 0.2px;
    white-space: nowrap;
  }
  
  .hero-title-span {
    font-family: "Monoton", cursive;
    background-color: #3895D3; /* External CSS color */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 0.1em;
    font-size: 1.2em;
  }
  
  .hero-description {
    margin-bottom: 24px;
    color: gray;
    letter-spacing: 0.8px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    line-height: 1.5;
    z-index: 99;
  }
  
  .hero-button {
    background-color: #3895D3;
    color: #fff;
    padding: 12px 40px;
    border: 2px solid transparent;
    transition: all 0.4s ease;
  }
  
  .hero-button:hover {
    background-color: #fff;
    color: #3895D3;
    border-color: #3895D3;
    transform: scale(1.05);
  }
  


  /* Hero.module.css */

.hero-container {
    display: flex; /* Flexbox for centering content */
    align-items: center; /* Vertically center content */
    justify-content: center; /* Horizontally center content */
    position: relative; /* To position the pseudo-elements */
    background-size: cover; /* Ensure background covers the whole container */
    background-position: center; /* Center the background image */
    overflow: hidden; /* Prevent overflow of pseudo-elements */
    min-height: 100vh; /* Set minimum height to 100vh (full viewport height) */
  }
  
  .hero-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
    background-image: radial-gradient(circle, rgba(19, 117, 208, 0.3) 1.5px, transparent 1px);
    background-size: 20px 20px; /* Size of the dots */
    animation: moveDots 6s linear infinite; /* Animate the dots */
    z-index: 1;
  }
  
  @keyframes moveDots {
    0% {
      background-position: 0 0; /* Start position */
    }
    100% {
      background-position: 100px 0px; /* End position */
    }
  }
  
  /* .css-1b3l6lk-MuiGrid-root{
    padding-left: "0";
  } */
  